<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.debug">

    <application
        android:name=".DebugApplication"
        android:allowBackup="true"
        android:icon="@drawable/blog_ic_launcher"
        android:label="@string/blog_app_name"
        android:theme="@style/BaseAppTheme">
        <activity android:name=".component.blog.TestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>

