<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="example.weibocomponent">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/BaseAppTheme">

        <activity
            android:name=".view.MainActivity"
            android:label="@string/demo_app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="example.basiclib.widget.imageviewer.ImageViewerActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>