<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.effective.android.service.account">

    <application
        android:name="com.debug.DebugApplication"
        android:allowBackup="true"
        android:icon="@drawable/account_ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/BaseAppTheme">

        <activity
            android:name=".TestActivity"
            android:label="@string/account_app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme"></activity>
    </application>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>