<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.debug">

    <application
        android:name=".DebugApplication"
        android:allowBackup="true"
        android:icon="@drawable/account_ic_launcher"
        android:supportsRtl="true"
        android:label="@string/account_app_name"
        android:theme="@style/BaseAppTheme">

        <activity
            android:name=".service.account.TestActivity"
            android:label="@string/account_app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>