<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.effective.android.service.skin">

    <application
        android:name="com.debug.DebugApplication"
        android:allowBackup="true"
        android:label="@string/skin_app_name"
        android:icon="@drawable/skin_ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/BaseAppTheme"
        tools:replace="android:label">

        <activity
            android:name="com.debug.DebugActivity"
            android:label="@string/skin_app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>

</manifest>

